<div class="dashboard-container">
  <div class="welcome-card">
    <h1>¡Bienvenido a Poke App!</h1>
    <div class="description">
      <p>
        Esta es una aplicación diseñada para explorar y descubrir información detallada sobre
        Pokémons.
      </p>
      <p>Con Poke App podrás:</p>
      <ul>
        <li>📚 Buscar Pokémon por nombre</li>
        <li>📊 Ver estadísticas detalladas de cada Pokémon</li>
        <li>⚔️ Explorar diferentes tipos</li>
        <li>🌍 Conocer las regiones del mundo Pokémon</li>
        <li>💥 Explorar diferentes movimientos</li>
      </ul>
      <p class="coming-soon">¡Próximamente más funcionalidades!</p>
    </div>
  </div>
</div>
